@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Source+Sans+Pro&display=swap');

/** {
    border: 1px solid red;
}*/

:root {
    --dark: #282A36;
    --black: #21222c;
    --green: #50fa7b;
    --white: #F8F8F2;
    --purple: #bd93f9;
    --blue: #8be9fd;
    --pink: #ff79c6;
    --orange: #ffca80;
}


body {
    background-color: var(--black);
}

.dark-box {
    background-color: var(--dark);
    margin: 0;
    padding: 0;
}

.flex-columns {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
    gap: 10px;
}

.flex-2 {
    flex-grow: 2;
    flex-basis: auto;
}

.flex-1 {
    flex-grow: 1;
    flex-basis: auto;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 72px;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: var(--purple);
}

.subtitle {
    font-size: 24px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0 0 20px 0;
    color: var(--white);
}

span {
    color: var(--green);
}

.logo-img {
    width: 450px;
    height: auto;
}

.txt {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
}

footer {
    height: auto;
    text-align: center;
    padding-top: 10px;
}

br {
    margin-bottom: 10px;
}

.btn {
    border-radius: 4px;
    text-align: center;
    padding: 5px 15px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    border: 0;
    color: var(--dark);
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none; 
}

.convert-btn {
    background-color: var(--green);
}

.convert-btn:hover {
    background-color: var(--black);
    color: var(--green);
}

.copy-btn {
    background-color: var(--blue);
}

.copy-btn:hover {
    background-color: var(--black);
    color: var(--blue);
}

.site-btn {
    background-color: var(--pink);
}

.site-btn:hover {
    background-color: var(--black);
    color: var(--pink);
}

a:hover {
    color: var(--purple);
}

.enlarge {
    padding-bottom: 250px;
}
