@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Source+Sans+Pro&display=swap');

/** {
    border: 1px solid red;
}*/

:root {
    --dark: #282A36;
    --black: #21222c;
    --green: #50fa7b;
    --white: #F8F8F2;
    --purple: #bd93f9;
}

body {
    background-color: var(--dark);
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark);
}

.flex-box {
    flex: 1;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 72px;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: var(--purple);
}

.subtitle {
    font-size: 24px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0 0 20px 0;
    color: var(--white);
}

span {
    color: var(--green);
}

.logo-img {
    width: 450px;
    height: auto;
}

.txt {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: var(--white);
}

footer {
    height: 30px;
    font-size: 16px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: var(--white);
    background-color: var(--black);
}

br {
    margin-bottom: 10px;
}

.decode-btn {
    border-radius: 4px;
    text-align: center;
    font-weight: 400;
    padding: 5px 15px;
    font-size: 16px;
    border: 0;
    background-color: var(--green);
    color: var(--dark);
}

.decode-btn:hover {
    background-color: var(--black);
    color: var(--green);
}